@import url('./font.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'DM_Sans';
}

.logo {
  font-family: 'GT Walsheim Pro';
}

@font-face {
  font-family: 'DM_Sans';
  src: url('/src/assets/fonts/DM_Sans/static/DMSans-ExtraLight.ttf')
    format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'DM_Sans';
  src: url('/src/assets/fonts/DM_Sans/static/DMSans-ExtraLightItalic.ttf')
    format('opentype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'DM_Sans';
  src: url('/src/assets/fonts/DM_Sans/static/DMSans-Thin.ttf')
    format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'DM_Sans';
  src: url('/src/assets/fonts/DM_Sans/static/DMSans_24pt-ThinItalic.ttf')
    format('opentype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'DM_Sans';
  src: url('/src/assets/fonts/DM_Sans/static/DMSans-Light.ttf')
    format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'DM_Sans';
  src: url('/src/assets/fonts/DM_Sans/static/DMSans-LightItalic.ttf')
    format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'DM_Sans';
  src: url('/src/assets/fonts/DM_Sans/static/DMSans-Regular.ttf')
    format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DM_Sans';
  src: url('/src/assets/fonts/DM_Sans/static/DMSans-Regular.ttf')
    format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'DM_Sans';
  src: url('/src/assets/fonts/DM_Sans/static/DMSans-SemiBold.ttf')
    format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'DM_Sans';
  src: url('/src/assets/fonts/DM_Sans/static/DMSans-SemiBoldItalic.ttf')
    format('opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'DM_Sans';
  src: url('/src/assets/fonts/DM_Sans/static/DMSans-Bold.ttf')
    format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'DM_Sans';
  src: url('/src/assets/fonts/DM_Sans/static/DMSans-BoldItalic.ttf')
    format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'DM_Sans';
  src: url('/src/assets/fonts/DM_Sans/static/DMSans-ExtraBold.ttf')
    format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'DM_Sans';
  src: url('/src/assets/fonts/DM_Sans/static/DMSans-ExtraBoldItalic.ttf')
    format('opentype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'DM_Sans';
  src: url('/src/assets/fonts/DM_Sans/static/DMSans-ExtraBold.ttf')
    format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'DM_Sans';
  src: url('/src/assets/fonts/DM_Sans/static/DMSans-ExtraBoldItalic.ttf')
    format('opentype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'GT Walsheim Pro';
  src:
    url('./GT-Walsheim-Pro-Regular.woff2') format('woff2'),
    url('./GT-Walsheim-Pro-Regular.woff') format('woff'),
    url('./GT-Walsheim-Pro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src:
    url('./GT-Walsheim-Pro-Bold.woff2') format('woff2'),
    url('./GT-Walsheim-Pro-Bold.woff') format('woff'),
    url('./GT-Walsheim-Pro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.footer > * {
  font-size: clamp(10px, 1vw, 2rem);
}

.name {
  font-size: clamp(10px, 1vw 30px);
}

.heading {
  font-size: clamp(10px, 1vw 16px);
}

.logo {
  width: clamp(10px, 1vw 16px);
}

.hero {
  font-size: clamp(20px, 3vw, 50px);
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}
.animate-blob {
  animation: blob 6s infinite;
}
.animation-delay-2 {
  animation-delay: 2s;
}
.animation-delay-4 {
  animation-delay: 4s;
}
